/*ریست ساده*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'poppins', sans-serif;
    background-color: #0f172a;
    color: #f1f5f9;
    line-height: 1.8;
}

/*Navbar*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #1e293b;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: #f1f5f9;
    transition: 0.3s;
}

nav a:hover{
    color: #38bdf8;
}

/*section*/
section{
    padding: 80px 60px;
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}

h2{
    font-size: 28px;
    margin-bottom: 20px;
    color: #38bdf8;
}
ul li{
    margin-bottom: 10px;
}

/*projects*/
section div{
    background-color: #1e293b;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    transition: 0.3s;
}

section div:hover{
    transform:translateY(-5px);
    background-color: #334155;
}

/*footer*/
footer{
    text-align: center;
    padding: 30px;
    background-color: #1e293b;
    margin-top: 40px;
}

/*Hero section*/
.hero{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(135deg,#0f172a,#1e293b);
}
.hero-content h1{
    font: size 48px;
    margin-bottom: 20px;
}

.hero-content p{
    font-size: 20px;
    margin-bottom: 30px;
    color: #94a3b8;
}

/*Button*/
.btn{
    padding: 12px 25px;
    background-color: #38bdf8;
    color: #0f172a;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover{
    background-color: #0ea5e9;
    transform: scale(1.05);
}

@media(max-width:768px){
    nav{
        flex-direction: column;
        gap: 15px;
    }

    section{
        padding: 40px 20px;
    }

    .hero-content h1{
        font-size: 32px;
    }
}